<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h3>Users:</h3>
{{#each users}}
    <div><a href="/{{this.username}}">{{this.name}}</a></div>
{{/each}}

<!-- For Login -->
<!-- <from action='/login' method="POST">
    <label>username:</label>
    <input type="text" name="username">
    <input type="submit" value="Login">
</from> -->
