    body {
        /* padding: 10px; */
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    
    main {
        flex: 1 0 auto;
    }
    
    .container {
        width: 85%;
        height: 100%;
        margin: 0 auto;
    }
    
    .items {
        border: 1px solid black;
        min-height: 100%;
        background: white;
    }
    
    .retros {
        border: 1px solid black;
        height: 100%;
        background: white;
    }
    
    .retro_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .header {
        display: flex;
        align-items: center;
    }
    
    .pad-left {
        margin-left: 30px;
    }
    
    a {
        color: #00B7FF;
    }
    
    .tooltip {
        position: relative;
        display: inline-block;
        /* border-bottom: 1px dotted black; */
    }
    
    .collapsible-header {
        padding: .5rem;
    }
    
    .collapsible-header i {
        margin-right: 0;
    }
    
    .material-icons {
        color: #474747;
    }
    
    span.badge {
        color: white;
        font-size: .6em;
    }
    
    .flexed {
        display: flex;
        justify-content: space-around;
    }
    
    .equal {
        width: 50%;
        margin: 5px;
    }
    
    .equal p {
        border: 1px solid black;
        padding: .5em;
        margin: .2em;
    }
    
    .Highest {
        background: red;
        border-radius: 3px;
    }
    
    .High {
        background: #FF8800;
        border-radius: 3px;
    }
    
    .Normal {
        background: #919191;
        border-radius: 3px;
    }
    
    .Low {
        background: #B0BE77;
        border-radius: 3px;
    }
    
    .Lowest {
        background: #49AC6A;
        border-radius: 3px;
    }
    
    .page-footer {
        padding-top: 0;
    }
    
    @media only screen and (max-width: 992px) {
        .flex-m {
            display: flex;
            flex-direction: column;
            /* Stack on top */
        }
        .items {
            order: 1;
        }
        .retros {
            order: 2;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .flexed {
            display: block;
        }
    }