<h2>Create a Retro:</h2>

<form action="/{{userName}}" method="POST">
<label>Title:</label>
<input type="text" name="title"><br>
<textarea rows="8" cols="60" name="description" placeholder="Description">
</textarea><br>
<textarea rows="8" cols="60" name="positiveNotes" placeholder="Positive Notes">
</textarea><br>
<textarea rows="8" cols="60" name="negativeNotes" placeholder="Negative Notes">
</textarea><br>
<label>Meeting Date:</label>
<input type="date" name="meetingDate"><br>
<label>Participents:</label>
<input type="text" name="participants"><br>
<input type="submit" value="Create Retro">
</form>
<a href="/{{userName}}">Return to Retros</a>